// main: main.scss
// @import "variables";

.accent-1 { color: $color-accent-1; }
.accent-2 { color: $color-accent-2; }
.high-contrast { color: $color-high-contrast; }
.low-contrast { color: $color-low-contrast; }
