// Body Text
@mixin text-contrast($font-weight, $color){
  font-weight: $font-weight;
  color: $color;
}
// Spacer Padding
@mixin spacer-p($spacer-top, $spacer-bottom){
  padding-top: $spacer-top;
  padding-bottom: $spacer-bottom;
}
// Spacer Padding
@mixin spacer-m($spacer-top, $spacer-bottom){
  margin-top: $spacer-top;
  margin-bottom: $spacer-bottom;
}
// Spacer Padding
@mixin spin($rotate-from, $rotate-to){
  @-webkit-keyframes rotation {
    from { -webkit-transform: rotate($rotate-from); }
    to { -webkit-transform: rotate($rotate-to); }
  }
}

// Containers
@mixin container-size($size, $paddings, $margins){
  width: $size;
  padding-left: $paddings;
  padding-right: $paddings;
  margin-left: $margins;
  margin-right: $margins;
}

// Hover mixin and `$enable-hover-media-query` are deprecated.
//
// Originally added during our alphas and maintained during betas, this mixin was
// designed to prevent `:hover` stickiness on iOS-an issue where hover styles
// would persist after initial touch.
//
// For backward compatibility, we've kept these mixins and updated them to
// always return their regular pseudo-classes instead of a shimmed media query.
//
// Issue: https://github.com/twbs/bootstrap/issues/25195

@mixin hover {
  &:hover { @content; }
}

@mixin hover-focus {
  &:hover,
  &:focus {
    @content;
  }
}

@mixin plain-hover-focus {
  &,
  &:hover,
  &:focus {
    @content;
  }
}

@mixin hover-focus-active {
  &:hover,
  &:focus,
  &:active {
    @content;
  }
}
