.navbar-light {
  background-color: $white;
  .navbar-brand {
    border: none;
  }
  .navbar-nav {
    .nav-item {
      padding-right: $navbar-nav-link-padding-x;
      padding-left: $navbar-nav-link-padding-x;
      padding: $nav-link-padding-y $nav-link-padding-x;
    }
    .nav-link {
      color: $color-gray-high-contrast;
      border: none;
      padding: 0;
    }
    .active > .nav-link {
      color: $color-main-black;
      border-bottom: 0.15rem solid;
    }
    .nav-link {
      position: relative;
      &::before {
        position: absolute;
        top: 30%;
        left: - $gutter / 2;
        width: 8px;
        height: 8px;
        background-color: transparent;
        border-radius: 50%;
        content: " ";
      }
      &.active {
        color: $color-main-black;
        &::before {
          background-color: $color-accent-1;
        }
      }
    }
  }
}
