// main: main.scss
//
// Color system Bootstrap
//

$white:                      #fff !default;
$gray-100:                   #f8f9fa !default;
$gray-200:                   #e9ecef !default;
$gray-300:                   #dee2e6 !default;
$gray-400:                   #ced4da !default;
$gray-500:                   #adb5bd !default;
$gray-600:                   #6c757d !default;
$gray-700:                   #495057 !default;
$gray-800:                   #343a40 !default;
$gray-900:                   #212529 !default;
$black:                      #000 !default;

$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default

$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);
$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800
  ),
  $colors
);

$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
  ),
  $theme-colors
);
// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$breakpoint-min-xs:             0;
$breakpoint-min-sm:             576px;
$breakpoint-min-md:             768px;
$breakpoint-min-lg:             992px;
$breakpoint-min-xl:             1200px;

// @include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
// @include _assert-starts-at-zero($grid-breakpoints);


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

// @include _assert-ascending($container-max-widths, "$container-max-widths");

//
// Color system My Colors
//

$color-main-black:           #1E1E1E;
$color-accent-1:             #57DFD9;
$color-accent-2:             #ADA2FB;
$color-low-contrast:         #F7F8F9;
$color-high-contrast:        $color-main-black;
$color-gray-high-contrast:   #9B9E9F;

// Body
//
// Settings for the `<body>` element.

$body-bg:                    $white !default;
$body-color:                 $gray-900 !default;

// Links
//
// Style anchor elements.

$link-color:                 $blue !default;
$link-decoration:            none !default;
$link-hover-color:           darken($link-color, 15%) !default;
$link-hover-decoration:      underline !default;

// Paragraphs
//
// Style p element.

$paragraph-margin-bottom:     1rem !default;

$spacer:                      1rem !default;

// Fonts
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-inter-ui:        'Inter UI', BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-base:            $font-family-inter-ui !default;
// stylelint-enable value-keyword-case

$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-small-title:            11px !default; // Assumes the browser default, typically `16px`
$headings-margin-bottom:      ($spacer / 2) !default;
$headings-font-family:        inherit !default;

$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;
$font-weight-base:            $font-weight-normal !default;
$line-height-base:            1.5 !default;
$dt-font-weight:              $font-weight-bold !default;

// Title font-size
$h1-font-size:                $font-size-base * 5.5 !default; //88px
$h2-font-size:                $font-size-base * 3 !default; //48px
$h3-font-size:                $font-size-base * 2.25 !default; //36px
$h4-font-size:                $font-size-base * 1.5 !default; //24px
$h5-font-size:                $font-small-title !default; //11px
$h6-font-size:                $font-size-base !default;

// Title Variables
$headings-margin-bottom:      ($spacer / 2) !default;
$headings-font-family:        inherit !default;
$headings-font-weight:        700 !default;
$headings-line-height:        1.2 !default;
$headings-color:              inherit !default;

// Body Text
$body-txt-1:                  $font-size-base * 1.125; //18px
$body-txt-2:                  15px;
$body-txt-3:                  13px;

$body-txt-1-line-height:      $font-size-base * 2; //32px
$body-txt-2-line-height:      $font-size-base * 1.75; //28px
$body-txt-3-line-height:      $font-size-base * 1.5; //24px

// Spacer
$spacer-0:                    0;
$spacer-mobile:               $spacer * 2;
$spacer-small:                $spacer * 3.125; //50px
$spacer-medium:               $spacer * 5; //80px
$spacer-large:                $spacer * 7.5; //120px

$headings-color:              $mainblack !default;

// Carousel

$carousel-control-color:            $color-main-black !default;

$carousel-transition:               transform .6s ease !default; // Define transform transition first if using multiple transitions (e.g., `transform 2s ease, opacity .5s ease-out`)
