<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/main.css">

    <title>Block Text 4</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-light bg-light bd-navbar mb-5">
      <a class="navbar-brand" href="../index.html">
        <img src="../images/logo/logo-1-black.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        AV Design
      </a>
    </nav>

    <main role="main">
      <!-- Sidebar -->
      <div class="container-fluid d-none d-sm-none d-md-block">
        <div class="row flex-xl-nowrap">
          <ul class="nav flex-column position-fixed">
            <li class="nav-item dropdown">
              <a class="nav-link" href="#typography">Typography</a>
              <nav class="nav nav-pills flex-column">
                <a class="nav-link ml-3 my-1" href="text-block-1.html">Block Text 1</a>
                <a class="nav-link ml-3 my-1" href="text-block-2.html">Block Text 2</a>
                <a class="nav-link ml-3 my-1 " href="text-block-3.html">Block Text 3</a>
                <a class="nav-link ml-3 my-1 active" href="text-block-4.html">Block Text 4</a>
                <a class="nav-link ml-3 my-1" href="text-block-5.html">Block Text 5</a>
                <a class="nav-link ml-3 my-1" href="text-block-6.html">Block Text 6</a>
              </nav>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
        </div>
      </div>

      <section id="blocktext4" class="container block-text-4 spacer-large-p-tb">

        <div class="container">

          <div class="row justify-content-md-center">
            <div class="col-md-8 spacer-medium-p-b">
              <div class="intro spacer-large-p-b">
                <p class="bd-text-3">Humanise EVERYTHING</p>
              </div>

              <h2 class="title-h2">
                People are Design. Design is People. The human touch is what made it. We design as humans.
              </h2>
            </div>
            <div class="col-md-3 spacer-medium-p-b">
              <div class="intro spacer-large-p-b">
                <p class="bd-text-3 low-contrast">Humanise EVERYTHING</p>
              </div>
              <p class="bd-text-2 low-contrast ">
                Designing and developing anything of consequence is incredibly challenging.
                Colours were also designed to allow for formal applications as well as more light-hearted communications:
                an aubergine word mark on a white background, for example.
              </p>
            </div>
          </div>
        </div>

      </section> <!-- /container -->

    </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
