<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/main.css">

    <title>Block Text 1</title>
  </head>
  <body>
    <!-- Image and text -->
    <nav class="navbar navbar-light bg-light position-fixed mb-5">
      <a class="navbar-brand" href="../index.html">
        <img src="../images/logo/logo-1-black.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        AV Design
      </a>
    </nav>

    <main role="main">
      <!-- Sidebar -->
      <div class="container-fluid">
        <div class="row flex-xl-nowrap">
          <ul class="nav flex-column position-fixed mt-5">
            <li class="nav-item dropdown">
              <a class="nav-link" href="#typography">Typography</a>
              <nav class="nav nav-pills flex-column">
                <a class="nav-link ml-3 my-1 active" href="text-block-1.html">Block Text 1</a>
                <a class="nav-link ml-3 my-1" href="text-block-2.html">Block Text 2</a>
                <a class="nav-link ml-3 my-1" href="#_">Block Text 3</a>
                <a class="nav-link ml-3 my-1" href="#_">Block Text 4</a>
              </nav>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
        </div>
      </div>

      <section id="blocktext1" class="container block-text-1 py-5">

        <div class="container">
          <div class="row justify-content-md-center">
            <div class="col col-lg-10 block-header mb-5">
              <p class="bd-text-1 mb-0">Humanise EVERYTHING</p>
              <p class="bd-text-2 low-contrast mb-0">We wanted to make everything more human</p>
            </div>
          </div>
          <div class="row justify-content-md-center">
            <div class="col col-lg-10 block-title mb-5">
              <h3 class="title-h3">Everyone immersed themselves at such a deep level. Deep design. Each and every member of the team was allowed to voice their opinion. Perfect. We did it
              </h3>
            </div>
          </div>
          <div class="row justify-content-md-center">
            <div class="col-lg-7 block-body">
              <p class="bd-text-1">
                Design is more than just being human - its a system.
                Each and every member of the team was allowed to voice their opinion.
                Focusing on people and their expressions. Simplicity is not the absence of clutter, thats a consequence of simplicity. Simplicity is somehow essentially describing the purpose and place of an object and product. The absence of clutter is just a clutter-free product. Thats not simple
              </p>
            </div>
            <div class="col-lg-3 block-info">
              <p class="bd-text-2 low-contrast">
                Humanity needs design. Humanity NEEDs design. Different and new is relatively easy. Doing something thats genuinely better is very hard. I discovered at an early age that all Ive ever wanted to do is design
              </p>
            </div>
          </div>
        </div>

      </section> <!-- /container -->

    </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
