.error-page {
  .wrap {
    position: relative;
    width: 100%;
    min-height: 500px;
  }
  .wrapper-title {
    display: flex;
    justify-content: center;
    height: 100%;
    .message {
      align-self: center;
    }
  }
  .cta {
    position: absolute;
    bottom: -50px;
    left:  0;
    right: 0;
  }
  .visual {
    background-image: url("../images/404.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
