// main: main.scss

// Link style
.link {
  text-decoration: none;
  color: $color-main-black;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  border-bottom: 0.15rem solid;

  &:hover {
    color:rgba( $color-main-black, .7 );
    text-decoration: none;
  }
  &.accent-1 {
    &:hover {
      color:rgba( $color-accent-1, .7 );
      text-decoration: none;
    }
  }
  &.accent-2 {
    &:hover {
      color:rgba( $color-accent-2, .7 );
      text-decoration: none;
    }
  }
}

// Text colors
.accent-1 { color: $color-accent-1; }
.accent-2 { color: $color-accent-2; }
.accent-3 { color: $color-accent-3; }
.accent-light-1 { color: $color-accent-light-1; }
.accent-light-2 { color: $color-accent-light-2; }
.accent-light-3 { color: $color-accent-light-3; }
.high-contrast { color: $color-high-contrast; }
.low-contrast { color: $color-gray-high-contrast; }
.neutral-contrast { color: $color-main-withe; }

// background colors
.bkgrd-neutral { background-color: $white; }
.bkgrd-accent-1 { background-color: $color-accent-1; }
.bkgrd-accent-2 { background-color: $color-accent-2; }
.bkgrd-accent-3 { background-color: $color-accent-3; }
.bkgrd-accent-light-1 { background-color: $color-accent-light-1; }
.bkgrd-accent-light-2 { background-color: $color-accent-light-2; }
.bkgrd-accent-light-3 { background-color: $color-accent-light-3; }
.bkgrd-high-contrast { background-color: $color-gray-high-contrast; }
.bkgrd-low-contrast { background-color: $color-low-contrast; }

//Common list style
.list-default {
  padding-left: 0;
  margin-bottom: 0;
  .item {
    list-style: none;
    margin-bottom: $gutter / 2;
  }
}
