  //Navy home
.home-navy {
  background-color: $color-navy-blue-light;
  
  //Typography color
  .title-h1, .title-h2, .title-h3, .title-h4, .title-h5, .title-h6 {
    color: $color-navy-blue;
  }
  .bd-text-1, .bd-text-2, .bd-text-3 {
    color: $color-navy-blue;
  }
  
  //Override styles
  .bkgrd-accent-light-1 {
    background-color: $color-navy-blue-light;
    .title-h2,
    .title-h3,
    .title-h4 {
      color: $color-navy-blue;
    }
  }
  .bkgrd-accent-light-2 {
    background-color: $color-navy-blue-light;
    .title-h1,
    .title-h2 {
      color: $color-navy-blue;
    }
  }
  
  .separator {
    width: 100%;
    position: relative;
    @include spacer-p ($spacer-mobile, $spacer-mobile);
    @media (min-width: $breakpoint-min-md) {
      @include spacer-p ($spacer-small, $spacer-small);
    }
    &:before{
      content: "";
      width: 100%;
      height: 30px;
      left: 0;
      top: 50%;
      background-position: center;
      position: absolute;
      background-repeat: repeat-x;
      background-size: 10%;
      background-image: url(../images/icons/wave.svg);
    }
    &:after {
      content: "";
      width: 105px;
      height: 105px;
      left: 70%;
      bottom: -35px;
      position: absolute;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 50%;
    }

    //Fish
    &.fancy-fish {
      &:after {
        left: 70%;
        background-image: url(../images/icons/fish.svg);
        background-repeat: no-repeat;
        background-color: $color-navy-blue-light;
      }
    }
    
  }
  
  //Fancy stuff
  .fancy-info {
    &:before {
      content: '';
      width: 150px;
      height: 150px;
      position: absolute;
      top: $gutter;
      left: $gutter;
      background: url(../images/fancy-stuff/info-blue.svg) center center no-repeat;
      @include spin($rotate-from, $rotate-to);
      -webkit-animation: $rotate-time;
    }
  }
  
  //Block text paddings/margins
  .sec-text {
    //Block intro
    .block-intro {
      @include spacer-p ($spacer-0, $spacer-mobile);
      @media (min-width: $breakpoint-min-md) {
        @include spacer-p ($spacer-0, $spacer-medium);
      }
    }
    //Block Title
    .block-title {
      @include spacer-p ($spacer-0, $spacer-mobile);
      @media (min-width: $breakpoint-min-md) {
        @include spacer-p ($spacer-0, $spacer-medium);
      }
    }
  }

  //Hero Section
  .sec-hero {
    max-height: 550px;
    @include spacer-p ($spacer-mobile, $spacer-mobile);
    @media (min-width: $breakpoint-min-md) {
      @include spacer-p ($spacer-large, $spacer-medium);
    }
    &.fancy-wave {
      width: 100%;
      height: 100%;
      background: url(../images/fancy-stuff/wave_looper.png) center center;
      // background: url(../images/fancy-stuff/fish_looper.png) center center;
      background-repeat: repeat;
    }
    .inner {
      align-items: center;
    }
    .block-text {
      width: 100%;
    }
    .block-image {
      &.fancy-info {
        &:before {
          top: - $gutter;
          left: - $gutter;
        }
      }
      &.fancy-connection {
        &:after {
          top: 0;
        }
      }
    }
  }
  
  .sec-intro {
    .block-text {
      position: relative;
    }
  }
  
  .sec-aboutme {
    padding: $spacer-medium 0;
    .sec-text {
      padding: $spacer-medium 0;
      &:first-child {
        padding-top: 0;
      }
    }
    .block-text-10 {
      .emphasize {
        font-weight: $font-weight-bold;
      }
    }
  }
  
  //Works
  .sec-projects {
    .filter {
      margin: auto;
      flex-flow: row;
    }
    .nav {
      flex-flow: column;
      max-width: 180px;
      margin: auto;
    }
    .nav-link {
      &.active {
        color: $color-accent-2;
        background-color: transparent;
      }
      &:hover {
        color: $color-main-black;
        opacity: 0.8;
      }
    }
    .carousel-container {
      position: relative;
      &.spacer-medium-p-tb {
        @include media-breakpoint-only(xs) {
          @include spacer-p ($spacer-medium, $spacer-0);
        }
      }
    }
    .carousel-inner {
      position: relative;
    }
    .image-wrap {
      width: 90%;
      margin-left: 10%;
      height: auto;
    }
    .carousel-image {
      width: 100%;
      padding-bottom: 10%;
    }
    .carousel-caption {
      background-color: $color-main-withe;
      right: 0;
      bottom: 0;
      left: -55px;
      padding: $gutter *2;
      color: $color-main-black;
      text-align: left;
      max-width: 500px;
      .wrapper {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: space-between;
      }
    }
    .carousel-indicators {
      justify-content: start;
      margin: 0;
      top: 50%;
      padding-left: $gutter;
      left: 0;
      width: auto;
      height: auto;
      li {
        width: auto;
        height: auto;
        text-indent: 0;
        display: none;
        pointer-events: none;

        // Use pseudo classes to increase the hit area by 10px on top and bottom.
        &::before {
          content: none;
        }
        &::after {
          content: none;
        }
      }
      .active {
        display: block;
        background-color: transparent;
      }

    }
  }
}

