.home {
  //Global style:
  //Colors combinations
  .bkgrd-accent-light-1 {
    .title-h2,
    .title-h3,
    .title-h4 {
      color: $color-accent-2;
    }
  }
  .bkgrd-accent-light-2 {
    .title-h1,
    .title-h2 {
      color: $color-accent-2;
    }
  }

  //Respomsive Typography
  h3, .title-h3 {
    font-size: $h4-font-size;
    line-height: $body-txt-1-line-height; //32px
    letter-spacing: 0;
    @media (min-width: $breakpoint-min-sm) {
      font-size: $h3-font-size; //48px
      letter-spacing: -1.6px;
      line-height: $headings-line-height;
    }
  }
  .bd-text-1 {
    font-size: $body-txt-2; //15px
    line-height: $body-txt-2-line-height; //28px
    @media (min-width: $breakpoint-min-sm) {
      font-size: $body-txt-1; //18px
      line-height: $body-txt-1-line-height; //32px
    }
  }

  //Section extra padding top/bottom
  .section {
    @include media-breakpoint-down(sm) {
      padding-top: $spacer-mobile + 2;
      padding-bottom: $spacer-mobile + 2;
    }
  }

  //Sections:
  //Hero
  .sec-hero {
    position: relative;
    z-index: 0;
    // Fancy Hero
    .hero-inner {
      padding-top: $spacer-small;
      padding-bottom: $spacer-small;
      @media (min-width: $breakpoint-min-lg) {
        padding: $spacer-medium 0;
      }
    }
    .block-wrapper {
      z-index: 1;
      // padding: $spacer-medium;
      width: 100%;
      position: relative;
      @media (min-width: $breakpoint-min-lg) {
        max-width: 50%;
        padding: inherit;
        margin-left: 10%;
        padding: $spacer-large 0;
      }
    }
    .block {
      &.info {
        position: relative;
        left: 0;
        top: 0;
        width: auto;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        @media (min-width: $breakpoint-min-md) {
          position: absolute;
          left: -9%;
          top: 50%;
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          transform: rotate(90deg);
        }
        @media (min-width: $breakpoint-min-lg) {
          left: -12%;
        }
      }
      &.claim {
        margin-left: 0;
        .title-h1,
        .title-h2 {
          color: $color-main-black;
        }
        h1, .title-h1 {
          font-size: $h2-font-size;
        }
        .title-h2 {
          line-height: 0.5;
        }
        @media (min-width: $breakpoint-min-sm) {
          h1, .title-h1 {
            font-size: $h1-font-size;
          }
        }
        @media (min-width: $breakpoint-min-md) {
          margin-left: 10%;
        }
      }

    }
    &.sec-fancy {
      &::before {
        bottom: 0;
        right: 0;
        width: 250px;
        height: 400px;
        position: absolute;
        content: "";
        background: url(../images/fancy-stuff/fancy-me-accent-light-1.png) right bottom no-repeat;
        background-size: contain;
        opacity: 0.5;
        @media (min-width: $breakpoint-min-md) {
          width: 400px;
          height: 400px;
          opacity: 1;
        }
        @media (min-width: $breakpoint-min-lg) {
          width: 600px;
          height: 500px;
          background-size: cover;
        }
      }
    }
  }
  //About me
  .sec-aboutme {
    .block-text-8,
    .block-text-10,
    .block-text-2 {
      @include make-container();
      @include make-container-max-widths();
      @media (min-width: $breakpoint-min-md) {
        padding: $spacer-large $spacer-small;
      }
    }
    .block-text-2 {
      .img-wrap {
        min-height: 40px;
      }
      .company-logo {
        max-width: 100px;
        margin: auto 0; 
      }
      .list {
        .bd-text-2,
        .bd-text-3 {
          margin-bottom: 0;
        }
      }
    }
    .card-body {
      display: flex;
      padding-bottom: $gutter;
      padding-left: 0;
      @media (min-width: $breakpoint-min-md) {
        padding: 0;
      }
    }
  }  //Works
  .sec-works {
    position: relative;
    .title-h1 {
      @include media-breakpoint-only(xs) {
        font-size: 4rem;
      }
    }
    .head {
      margin-bottom: $gutter;
    }
    .works-list {
      .item {
        position: relative;
        margin-bottom: $spacer * 5;
        .txt-block {
          margin: auto;
        }
        .cta {
          .link {
            margin-right: $gutter / 2;
          }
        }
        .img-block {
          margin-bottom: $spacer * 2;
          @media (min-width: $breakpoint-min-md) {
            margin-bottom: 0;
          }

          img {
            width: 100%;
            height: 100%;
            @media (min-width: $breakpoint-min-md) {
              object-fit: cover;
            }
          }
        }
        .img-block {
          order: 0;
          margin-bottom: $spacer * 2;
          @media (min-width: $breakpoint-min-lg) {
            order: 1;
            margin-bottom: 0;
          }
        }
        .txt-block {
          order: 1;
          @media (min-width: $breakpoint-min-lg) {
            order: 0;
          }
        }

      }
      .even {
        .img-block {
          @media (min-width: $breakpoint-min-md) {
            order: 0;
          }
        }
        .txt-block {
          order: 0;
          @media (min-width: $breakpoint-min-md) {
            order: 1;
            padding-left: $spacer * 5;
          }
        }
      }
      .odd {
        .img-block {
          order: 0;
          @media (min-width: $breakpoint-min-md) {
            order: 1;
          }
        }
        .txt-block {
          order: 0;
        }
      }
    }
    .website-list {
      @media (min-width: $breakpoint-min-md) {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
      }
    }

    .block-works {
      position: relative;
      .carousel-indicators {
        top: 0;
        margin-left: 0;
      }
      .carousel-item {
        position: relative;
        margin-bottom: 0;
      }
    }

    .cta-banner {
      color: $white;
      .item {
        margin-bottom: $spacer;
        &:last-child {
          margin-bottom: 0;
        }
        @media (min-width: $breakpoint-min-sm) {
          margin-bottom: 0;
        }
      }
      .title-h1 {
        font-size: $h1-font-size / 2; //88px
        @media (min-width: $breakpoint-min-md) {
          font-size: $h2-font-size;
        }
        @media (min-width: $breakpoint-min-lg) {
          font-size: $h1-font-size - 0.5; //88px
        }
      }
      .title-h5 {
        text-align: left;
        @media (min-width: $breakpoint-min-sm) {
          text-align: center;
        }
      }
      .accent-corrner {
        &::before {
          top: -25px;
          left: -25px;
          position: absolute;
          background: $white;
          border-radius: 50%;
          padding: 25px;
          font-size: xx-large;
        }
      }
      .box-left,
      .box-right {
        position: relative;
      }
      .box-left {
        .accent-corrner {
          &::before {
            content: "\f1b4"; // Behance
            // color: #0057ff;
          }
        }
      }
      .box-right {
        .accent-corrner {
          &::before {
            content: "\f17d"; // Dribble
            // color: #c51d60;
          }
        }
      }
    }
  }
}

