.home {
  //Global style:
  //Colors combinations
  .bkgrd-accent-light-1 {
    .title-h2,
    .title-h3,
    .title-h4 {
      color: $color-accent-2;
    }
  }
  .bkgrd-accent-light-2 {
    .title-h1,
    .title-h2 {
      color: $color-accent-2;
    }
  }

  //Respomsive Typography
  h2, .title-h2 {
    font-size: $h4-font-size;
    line-height: $body-txt-1-line-height; //32px
    line-height: $headings-line-height;
    @media (min-width: $breakpoint-min-sm) {
      font-size: $h2-font-size;
      letter-spacing: -1.6px;
    }
  }
  //Section extra padding top/bottom
  .section {
    @include media-breakpoint-down(sm) {
      padding-top: $spacer-mobile + 2;
      padding-bottom: $spacer-mobile +2;
    }
  }

//Sections:

  //Section extra padding top/bottom
  .section {
    @include media-breakpoint-down(sm) {
      padding-top: $spacer-mobile + 2;
      padding-bottom: $spacer-mobile + 2;
    }
  }

  //Block text paddings/margins
  .sec-text {
    //Block intro
    .block-intro {
      @include spacer-p ($spacer-0, $spacer-mobile);
      @media (min-width: $breakpoint-min-md) {
        @include spacer-p ($spacer-0, $spacer-medium);
      }
    }
    //Block Title
    .block-title {
      @include spacer-p ($spacer-0, $spacer-mobile);
      @media (min-width: $breakpoint-min-md) {
        @include spacer-p ($spacer-0, $spacer-medium);
      }
    }
  }
  //Hero
  .sec-hero {
    position: relative;
    z-index: 0;
    // Fancy Hero
    .hero-inner {
      padding-top: $spacer-small;
      padding-bottom: $spacer-small;
      @media (min-width: $breakpoint-min-lg) {
        padding: $spacer-medium 0;
      }
      .claim {
        .title-h2 {
          letter-spacing: 0;
          @media (min-width: $breakpoint-min-md) {
            letter-spacing: -2px;
          }
        }
      }
    }
    .block-wrapper {
      z-index: 1;
      // padding: $spacer-medium;
      width: 100%;
      position: relative;
      @media (min-width: $breakpoint-min-lg) {
        max-width: 50%;
        padding: inherit;
        margin-left: 10%;
        padding: $spacer-large 0;
      }
    }
    .block {
      &.info {
        position: relative;
        left: 0;
        top: 0;
        width: auto;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        @media (min-width: $breakpoint-min-md) {
          position: absolute;
          left: -9%;
          top: 50%;
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          transform: rotate(90deg);
        }
        @media (min-width: $breakpoint-min-lg) {
          left: -12%;
        }
      }
      &.claim {
        margin-left: 0;
        .title-h1,
        .title-h2 {
          color: $color-main-black;
        }
        h1, .title-h1 {
          font-size: $h2-font-size;
        }
        .title-h2 {
          line-height: 0.5;
        }
        @media (min-width: $breakpoint-min-sm) {
          h1, .title-h1 {
            font-size: $h1-font-size;
          }
        }
        @media (min-width: $breakpoint-min-md) {
          margin-left: 10%;
        }
      }

    }
    &.sec-fancy {
      &::before {
        bottom: 0;
        right: 0;
        width: 250px;
        height: 400px;
        position: absolute;
        content: "";
        background: url(../images/fancy-stuff/fancy-me-accent-light-1.png) right bottom no-repeat;
        background-size: contain;
        opacity: 0.5;
        @media (min-width: $breakpoint-min-md) {
          width: 400px;
          height: 400px;
          opacity: 1;
        }
        @media (min-width: $breakpoint-min-lg) {
          width: 600px;
          height: 500px;
          background-size: cover;
        }
      }
    }
  }

  //About me
  .sec-aboutme {
    .sec-text {
      @include spacer-p ($spacer-mobile, $spacer-mobile);
      @media (min-width: $breakpoint-min-md) {
        @include spacer-p ($spacer-medium, $spacer-medium);
      }
      .title-h2 {
        font-size: $h3-font-size; //36px
        @media (min-width: $breakpoint-min-md) {
          font-size: $h2-font-size;
        }
      }
    }
    .wrapped {
      @include make-container();
      @include make-container-max-widths();
      @media (min-width: $breakpoint-min-md) {
        padding: $spacer-large 1.5rem;
      }
    }
    .block-text-8 {
      .col-info-small {
        .block-info {
          @media (min-width: $breakpoint-min-lg) {
            &:first-child {
              padding-top: $spacer;
            }
            padding-bottom: $spacer * 3;
          }
        }
      }
    }
    .block-text-12 {
      .block-header {
        @include spacer-p ($spacer-0, $spacer-mobile);
        @media (min-width: $breakpoint-min-lg) {
          @include spacer-p ($spacer-0, $spacer-medium);
        }
      }
      .block-title {
        @include spacer-p ($spacer-0, $spacer-mobile);
        @media (min-width: $breakpoint-min-md) {
          @include spacer-p ($spacer-0, $spacer-large);
        }
      }
      .block-body {
        padding: 0 $spacer / 2;
        margin-bottom: $gutter;
        &:last-child {
          margin-bottom: 0;
        }
        &.recent {
          &::before {
            position: absolute;
            display: none;
            top: 8px;
            width: 8px;
            height: 8px;
            background-color: transparent;
            border-radius: 50%;
            content: " ";
            background-color: $color-accent-2;
            @media (min-width: $breakpoint-min-md) {
              display: block;
              left: 0px;
            }
          }
        }
      }
      .img-wrap {
        min-height: 40px;
        margin-right: $gutter / 2;
      }
      .warp-heading {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
      }
    }
    .block-text-2 {
      .col-info {
        order: 0;
        @media (min-width: $breakpoint-min-lg) {
          order: 1;
        }
      }
      .col-info-small {
        order: 1;
        @media (min-width: $breakpoint-min-lg) {
          order: 0;
        }
      }
      .block-image {
        .img-fluid {
          max-height: 500px;
          @media (min-width: $breakpoint-min-lg) {
            max-height: 100%;
          }
        }
      }
    }
  }
  //Works
  .sec-projects {
    .filter {
      margin: auto;
      flex-flow: row;
    }
    .nav {
      flex-flow: column;
      max-width: 180px;
      margin: auto;
    }
    .nav-link {
      &.active {
        color: $color-accent-2;
        background-color: transparent;
      }
      &:hover {
        color: $color-main-black;
        opacity: 0.8;
      }
    }
    .carousel-container {
      position: relative;
      &.spacer-medium-p-tb {
        @include media-breakpoint-only(xs) {
          @include spacer-p ($spacer-medium, $spacer-0);
        }
      }
    }
    .carousel-inner {
      position: relative;
    }
    .carousel-caption {
      background-color: $color-accent-light-2;
      right: 0;
      bottom: 0;
      padding: $gutter *2;
    }
    .image-wrap {
      width: 100%;
    }
    .carousel-image {
      width: 100%;
      padding-bottom: 5%;
    }
    .carousel-caption {
      color: $color-main-black;
      text-align: left;
      .wrapper {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: space-between;
      }
    }
    .carousel-indicators {
      justify-content: start;
      margin: 0;
      bottom: 0;
      padding-left: 10%;
      left: 0;
      width: auto;
      height: auto;
      li {
        width: auto;
        height: auto;
        text-indent: 0;
        display: none;
        pointer-events: none;

        // Use pseudo classes to increase the hit area by 10px on top and bottom.
        &::before {
          content: none;
        }
        &::after {
          content: none;
        }
      }

      .active {
        display: block;
      }

    }
  }
}

