// main: main.scss
// @import "variables";
// @import "mixins";

//
// Headings
//

h1, h2, h3, h4, h5, h6,
.title-h1, .title-h2, .title-h3, .title-h4, .title-h5, .title-h6 {
  margin-bottom: $headings-margin-bottom;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $color-main-black;
}

h1, .title-h1 {
  font-size: $h1-font-size; //88px
  letter-spacing: $lettering-space-large; //-2px
}
h2, .title-h2 {
  font-size: $h2-font-size; //48px
  letter-spacing: $lettering-space-large; //-2px
}
h3, .title-h3 {
  font-size: $h3-font-size; //36px
  letter-spacing: $lettering-space-medium; //-1.6px
}
h4, .title-h4 {
  font-size: $h4-font-size; //24px
  letter-spacing: $lettering-space-small; //-0.8px
}
h5, .title-h5 {
  font-size: $h5-font-size; //11px
  letter-spacing: $lettering-space-base; //1px
  text-transform: uppercase;
  line-height: 1.8;
}
h6, .title-h6 { font-size: $h6-font-size; }

.intro-text {
  font-size: $h5-font-size; //11px
  letter-spacing: $lettering-space-base; //1px
  text-transform: uppercase;
  &::before {
    content: "\2014 \00A0"; // em dash, nbsp
  }
}

//
// Body Text
//
.bd-text-1, .bd-text-2, .bd-text-3 {
  margin-top: 0;
  margin-bottom: $paragraph-margin-bottom;
}
.bd-text-1 {
  font-size: $body-txt-1; //18px
  line-height: $body-txt-1-line-height; //32px
}
.bd-text-2 {
  font-size: $body-txt-2; //15px
  line-height: $body-txt-2-line-height; //28px
}
.bd-text-3 {
  font-size: $body-txt-3; //13px
  line-height: $body-txt-3-line-height; //24px
}
.bd-text-2, .bd-text-3{
  &.high-contrast { @include text-contrast($font-weight-bold, $color-high-contrast); }
  &.low-contrast { @include text-contrast($font-weight-normal, $color-gray-high-contrast); }
}
